constraints: HTTP ==4000.2.8,
             HUnit ==1.2.5.2,
             JuicyPixels ==3.2.2,
             LDAP ==0.6.10,
             MonadCatchIO-transformers ==0.3.1.3,
             MonadRandom ==0.3.0.1,
             SHA ==1.6.4.1,
             aeson ==0.7.0.6,
             array ==0.4.0.1,
             asn1-encoding ==0.9.0,
             asn1-parse ==0.9.0,
             asn1-types ==0.3.0,
             async ==2.0.1.4,
             attoparsec ==0.11.3.4,
             attoparsec-enumerator ==0.3.3,
             base ==4.6.0.1,
             base64-bytestring ==1.0.0.1,
             bifunctors ==4.2,
             binary ==0.7.3.0,
             blaze-builder ==0.3.3.4,
             blaze-builder-enumerator ==0.2.0.6,
             blaze-html ==0.7.1.0,
             blaze-markup ==0.6.3.0,
             blaze-textual ==0.2.0.9,
             byteable ==0.1.1,
             bytestring ==0.10.0.2,
             bytestring-builder ==0.10.4.1.1,
             bytestring-mmap ==0.2.2,
             case-insensitive ==1.1.0.2,
             cereal ==0.4.1.1,
             cipher-aes ==0.2.10,
             cipher-des ==0.0.6,
             cipher-rc4 ==0.1.4,
             clientsession ==0.9.1.1,
             comonad ==4.2.2,
             conduit ==1.2.3.1,
             configurator ==0.3.0.0,
             connection ==0.2.4,
             containers ==0.5.0.0,
             contravariant ==0.6.1.1,
             cookie ==0.4.1.4,
             cprng-aes ==0.6.1,
             crypto-api ==0.13.2,
             crypto-cipher-types ==0.0.9,
             crypto-numbers ==0.2.7,
             crypto-pubkey ==0.2.8,
             crypto-pubkey-types ==0.4.3,
             crypto-random ==0.0.8,
             cryptohash ==0.11.6,
             data-default ==0.5.1,
             data-default-class ==0.0.1,
             deepseq ==1.3.0.1,
             deepseq-generics ==0.1.1.2,
             digest ==0.0.1.2,
             direct-sqlite ==2.3.15,
             directory ==1.2.0.1,
             directory-tree ==0.12.0,
             distributive ==0.4.4,
             dlist ==0.5,
             either ==4.3.3,
             ekg ==0.4.0.5,
             ekg-core ==0.1.0.3,
             enclosed-exceptions ==1.0.1,
             entropy ==0.3.5,
             enumerator ==0.4.20,
             errors ==1.4.7,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.1,
             free ==4.10.0.1,
             ghc-prim ==0.3.0.0,
             haddock-library ==1.1.1,
             hashable ==1.2.1.0,
             heist ==0.13.1.2,
             highlighting-kate ==0.5.11.1,
             hourglass ==0.2.8,
             hslua ==0.3.13,
             http-client ==0.4.7.1,
             http-client-tls ==0.2.2,
             http-types ==0.8.5,
             integer-gmp ==0.5.0.0,
             lens ==4.1.2.1,
             lifted-base ==0.2.3.3,
             logict ==0.6.0.2,
             mime-types ==0.1.0.5,
             mmorph ==1.0.4,
             monad-control ==1.0.0.2,
             monads-tf ==0.1.0.2,
             mtl ==2.1.2,
             mwc-random ==0.13.3.0,
             nats ==1,
             network ==2.4.1.2,
             old-locale ==1.0.0.5,
             old-time ==1.1.0.1,
             pandoc ==1.13.2,
             pandoc-types ==1.12.4.1,
             parallel ==3.2.0.3,
             parsec ==3.1.3,
             pem ==0.2.2,
             prelude-extras ==0.4,
             pretty ==1.1.1.0,
             primitive ==0.5.0.1,
             process ==1.1.0.2,
             profunctors ==4.3.2,
             publicsuffixlist ==0.1,
             pwstore-fast ==2.4.4,
             random ==1.0.1.1,
             reflection ==1.5.1.1,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-pcre-builtin ==0.94.4.8.8.35,
             regex-posix ==0.95.2,
             resourcet ==1.1.3.3,
             rts ==1.0,
             safe ==0.3.8,
             scientific ==0.3.3.7,
             securemem ==0.1.7,
             semigroupoids ==4.0.4,
             semigroups ==0.16.1,
             setenv ==0.1.1.3,
             skein ==1.0.9.2,
             snap ==0.13.2.9,
             snap-core ==0.9.6.4,
             snap-loader-static ==0.9.0.2,
             snap-server ==0.9.4.6,
             snaplet-sqlite-simple ==0.4.8.2,
             socks ==0.5.4,
             split ==0.2.2,
             sqlite-simple ==0.4.8.0,
             stm ==2.4.2,
             streaming-commons ==0.1.9.1,
             syb ==0.4.0,
             tagged ==0.7.3,
             tagsoup ==0.13.3,
             template-haskell ==2.8.0.0,
             temporary ==1.2.0.3,
             texmath ==0.8.0.1,
             text ==0.11.3.1,
             time ==1.4.0.1,
             tls ==1.2.16,
             transformers ==0.3.0.0,
             transformers-base ==0.4.3,
             transformers-compat ==0.3.3.3,
             unix ==2.6.0.1,
             unix-compat ==0.4.1.4,
             unordered-containers ==0.2.3.0,
             utf8-string ==0.3.7,
             vector ==0.10.0.1,
             vector-algorithms ==0.6.0.3,
             void ==0.7,
             x509 ==1.5.0.1,
             x509-store ==1.5.0,
             x509-system ==1.5.0,
             x509-validation ==1.5.1,
             xml ==1.3.12,
             xmlhtml ==0.2.3.4,
             yaml ==0.8.10.1,
             zip-archive ==0.2.3.7,
             zlib ==0.5.4.1,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
