#
# Configuration file for Codex server
# Pedro Vasconcelos, 2026
#

# root of the codex server
codex_root = "/home/codex"

# root of exercise pages
document_root = "/public/codex"

# URL prefix for setting up multiple servers on virtuals host;
# empty for single-server use 
#
url_prefix = ""

#
# Location of MathJax and Ace Javascript libraries
#

#
# URLs for MathJax and Ace JS libraries
#
# This can be empty to disable MathJax
mathjax_js =
    [ "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"
    ]

ace_editor_js = 
   [ "https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js"
   , "https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ext-modelist.js"
   ]

#
# Local hosting of JS libraries
#
# mathjax_js =
#    [ "/static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" ]

# ace_editor_js =
#    [ "/static/ace-builds/src-min-noconflict/ace.js"
#    , "/static/ace-builds/src-min-noconflict/ext-modelist.js"
#    ]
  

#
# language-specific configuration
#
language {
  python {
      # path to interpreter
      interpreter = "/usr/bin/python3"
      # path to extra python scripts
      # script to run doctests
      runtests = "/usr/local/bin/runtests.py"
      firejail = "$(codex_root)/firejail/default.profile"
  }
 
  haskell {
   #  path to haskell compiler and interpreter
   compiler = "/usr/bin/ghc -v0"
   interpreter = "/usr/bin/ghci -v0"
   firejail = "$(codex_root)/firejail/haskell.profile"
  }
  
  c {
    compiler = "/usr/bin/gcc -std=c99 -O -Wall -Wno-unused-result -Werror -W -fPIC"
   firejail = "$(codex_root)/firejail/default.profile"
  }

  java {
     compiler = "/usr/bin/javac"	
     runtime = "/usr/bin/java"
     firejail = "$(codex_root)/firejail/java.profile"
  }

  sqlite {
    command = "/usr/bin/sqlite3 -bail -batch"
    diff = "/usr/bin/sqldiff"
    firejail = "$(codex_root)/firejail/default.profile"
  }

  prolog {
    interpreter = "/usr/bin/swipl"
    firejail = "$(codex_root)/firejail/default.profile"
  }
}


users {
  # allow registering new users 
  register = false

  # LDAP authentication	  
  ldap {
    enabled = false
    # URI used for LDAP queries
    uri = "ldaps://hostname.domain"
    # query search base
    base = "key1=val1,key2=val2,key3=val3"
    # attribute mapping e.g.
    attrs = [["givenName", "fullname"]]
  }
}


printouts {
  # output directory
  directory = "printouts"
  # template Markdown file 
  template = "template.md"
}

# various system parameters
system {
   document_root = "$(document_root)"
   static_root = "$(codex_root)/static"
   # maximum number of concurrent evaluations
   max_concurrent = 4
}

# Multilanguage translations configuration
translations {
     # set the default language 
     defaultLanguage = "PT"
     # available language choices (besides default)
     # empty to disable translations
     otherLanguages = [ "EN" ]
}
