

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    overflow: scroll;
}


a {
   text-decoration: underline;
}

a :hover {
   cursor: pointer;
   text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    font-size: 85%;
    padding: 4px;
}


img {
   border: none;
}

.problemli {
    padding-bottom: 2ex;
}

.submissions {
    width: 50em;  /* list-style-type: none; */
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  font-size: 90%;     
}

.submissionli {
    /* display: inline;                
    padding-right: 1em;
    padding-bottom: 0.5ex;  
    line-height: 150%; */
    padding-bottom: 0.5ex;  
}


#content {
    /* padding-left: 1em; */
   margin-left: auto;
   margin-right: auto;
   width: 50em;
}

#topbar {
    background-color: cyan;
    width: auto;
    padding-bottom: 0.5ex;  
    padding-top: 0.5ex;  
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
}


#actions { 
    position: absolute;
    text-align: right;
    width: 20em;
    height: 4ex;
    left: auto;
    right: 1em;
    top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



.info {
   color: #0f0f0f;
   font-size: 90%; 
   font-style: oblique;
   /* vertical-align: text-top;*/
}

.warnings { 
  color: red;
  /* font-style: oblique; */
  /* font-size: 90%; */
}


.js-timer { 
  font-style: oblique;
}


#footer {
    position: relative;
    clear: both;
    bottom: -5ex;
    width: auto;
    background-color: cyan;
    padding-top: 2ex;
    padding-bottom: 2ex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}

pre { 
    background-color: #fcfcfc; 
    padding: 1em;
    width: 60em;
}


.ace_editor { 
    width:  45em;
    height: 45ex;
}


.hidden { display:none; }

.disabled { color: #A0A0A0; }

.filterlist {
    float: left;
    margin-left: 1em;
    width: 14em;
}

.problemlist {
    float: left;
    width: 30em;
}


/* --- code highlighting --- */

.sourceCode .kw { font-weight: bold; color: blue;  }
.sourceCode .co { color: darkgreen; } 
.sourceCode .st { color: darkgreen; }

/* --- expand div ---------- */

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}