

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    overflow: scroll;
}

a {
   text-decoration: underline;
}

a :hover {
   cursor: pointer;
   text-decoration: underline;
}

img {
   border: none;
}

.problemli {
    padding-bottom: 2ex;
}

.submissions {
    width: 50em;
    list-style-type: none;
}

.submissionli {
    display: inline;                
    padding-right: 1em;
    padding-bottom: 0.5ex;  
    line-height: 150%;
}


#content {
    /* padding-left: 1em; */
   margin-left: auto;
   margin-right: auto;
   width: 50em;
}

#topbar {
    background-color: cyan;
    width: auto;
    padding-bottom: 0.5ex;  
    padding-top: 0.5ex;  
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
}


#actions { 
    position: absolute;
    width: 10em;
    left: auto;
    right: 1em;
    top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* no longer used */
.note { 
     position: absolute; 
     top: 3ex; 
     right: 3ex; 
     width: 1em; 
 }

.info {
   color: #0f0f0f;
   font-size: 90%; 
   font-style: oblique;
   /* vertical-align: text-top;*/
}

.warnings { 
  color: red;
  /* font-style: oblique; */
  /* font-size: 90%; */
}


.js-timer { 
  font-style: oblique;
}

#error {
  color: red;
  /* font-size: 80%; */
}

#footer {
    position: relative;
    clear: both;
    bottom: -5ex;
    width: auto;
    background-color: cyan;
    padding-top: 2ex;
    padding-bottom: 2ex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}

pre { 
    background-color: #fcfcfc; 
    padding: 1em;
    width: 60em;
}


.ace_editor { 
    width:  45em;
    height: 45ex;
}


.hidden { display:none; }

.disabled { color: #A0A0A0; }

.filterlist {
    float: left;
    margin-left: 1em;
    width: 14em;
}

.problemlist {
    float: left;
    width: 30em;
}


/* --- code highlighting --- */

.sourceCode .kw { font-weight: bold; color: blue;  }
.sourceCode .co { color: darkgreen; } 
.sourceCode .st { color: darkgreen; }
