
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    overflow: scroll;
}


a {
   text-decoration: underline;
}



a :hover {
   cursor: pointer;
   text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    font-size: 85%;
    padding: 4px;
}


img {
   border: none;
}

span.icon {
    font-size: 150%;
    font-weight: bold;
    line-height: 0px;
}


ul.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.menubar li {
    float: left;
}

ul.menubar li a.icon {
    display: inline-block;
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px;

}

ul.menubar li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

ul.menubar li a:hover {
    background-color: lightcyan;
    color: black;
}


ul.menubar li button:hover {
    background-color: lightcyan;
    color: black;
}

ol.submissions {
  list-style-type: none;
}

ol.submissions li {
    display: inline-block;
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1em;
    padding-bottom: 1ex;
}


ol.submissions:after {
  content: '';
  display: block;
  clear: both;
 }

#content {
    padding-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
    height: auto;
}



#actions {
   position: fixed;
   width: auto;
   height: 1.5em;
   left: 0em;
   right: 0em;
   top: 0em;
   bottom: auto;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: cyan;
   z-index: 10;
}

#uppercorner {
    position: fixed;
    top: 0em;
    right: 0em;
    padding-right: 1em;
    padding-top: 1em;
    width: auto;
    height: 1.5em;
    text-align: right;
    background-color: cyan;
}

/* Tool tips */

.tooltip .info {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 90%;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .info {
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    /*
      border-radius: 5px; 
      border: solid;
      border-width: 1px;
   */
}

.tooltip a {
    text-decoration: none;
}


.error {
   color: red;
   font-size: 100%;
   font-style: oblique;
}


.tag {  
   color: #505050;
   font-size: 90%;
   font-style: oblique;
}


.warnings {
    margin-top: 4ex;
    margin-bottom: 4ex;
    padding-left: 1em;
    padding-right: 1em;
    color: red;
    font-style: oblique;
}

.errors  {
    margin-top: 4ex;
    margin-bottom: 4ex;
    padding-left: 1em;
    padding-right: 1em;
    color: red;
}


#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 1em;
    clear: both;
    background-color: cyan;
    padding-top: 2ex;
    padding-bottom: 2ex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}


pre {
    background-color: #ffffcc;
    padding: 1em;
    left: 1em;
    right: 1em;
    width: auto;
    overflow-x: auto;
}



#editor {
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60vh;    
}


.hidden { display:none; }

.disabled { color: #A0A0A0; }


td.filename {
   font-family: monospace;
   padding-left: 0.5em;
   padding-right: 4em;
 }

td.filetype {
   font-family: monospace;
   padding-left: 2em;
   padding-right: 2em;
 }

td.filemodified {
   padding-left: 2em;
   padding-right: 2em;
 }



table.filelist tr:nth-child(even) {
  background: #eeeeee;
 }

table.filelist tr:nth-child(odd)  {
  background: white;
 }


table.submissions tr:nth-child(2n+2) {
  background: white;
}

table.submissions tr:nth-child(2n+3) {
  background: #eeeeee;
}

table.submissions td.path, td.userid { 
  font-family: monospace;
}

table.submissions td.received { 
  font-size: 80%;
 }



table.submissions td.check {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Accepted {
  color: green; 
  font-weight: bold;
    white-space: nowrap;
} 

.WrongAnswer  { 
  color: red;
    white-space: nowrap;
}


.PresentationError,
.CompileError,
.RuntimeError,
.MiscError,
.MemoryLimitExceeded,
.TimeLimitExceeded  {
    color: black;
    white-space: nowrap;
}

.Evaluating { 
    color: black;
    font-style: oblique;
    white-space: nowrap;
}


/* --- Quiz answers --- */

.fillin {
    padding: 0.5ex;
}

/*
.wrong {
     text-decoration: line-through; 
}
*/

.missing {
    border-bottom: 2px dotted;
    padding: 2px; 
}


/* -- Tabbing --- */

/* Style the tab */
.tab {
    right: 0px;
    left: 0px;
    bottom: 2.5em;
    overflow: hidden;
    padding-top: 5px;
    margin-top: 5px;
    width: auto;
    border-bottom: 1px solid black;
    border-right: none;
    border-top: none;
    border-left: none;
}

/* Style the buttons that are used to open the tab content */
button.tablinks {
    background-color: inherit;
    font-size: 100%;
    float: left;
    cursor: pointer;
    padding: 10px 10px;
    border: none;
}


/* Create an active/current tablink class */
button.tablinks.active {
    background-color: darkcyan;
    color: white;
    border: none;
}



/* Style the tab content */
.tabcontent {
  display: none;
}


body {
   counter-reset: questions;
}

h1.question:before,h2.question:before,h3.question:before  {
    content: counter(questions) ".";
    counter-increment: questions;
}

h1.question, h2.question, h3.question {
    font-size: 100%;
}

div.text-diffs {
    font-family: monospace;
    background-color: #ffffcc;
    padding: 1em;
    left: 1em;
    right: 1em;
    width: auto;
    overflow-x: auto;
}

div.text-diffs span.inserted {
    background-color: lightgray; 
    font-weight: bold;
}

div.text-diffs del {
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    background-color: lightgray;
}


div.twocolumn {
    overflow: hidden;
}

div.twocolumn div.left {
    width: 45%;
    float: left;
}

div.twocolumn div.right {
    width: 50%;
    float: right;    
}

#translation-select {
    display: block;
    padding-top: 0.5em;
    margin-left: 1em;
}


#language-select {
    margin-left: 0.75em;
}
