
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    overflow: scroll;
}


a {
   text-decoration: underline;
}



a :hover {
   cursor: pointer;
   text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    font-size: 85%;
    padding: 4px;
}


img {
   border: none;
}



ul.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.menubar li {
    float: left;
}

ul.menubar li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

ul.menubar li a:hover {
    background-color: darkcyan;
    color: white; 
}


ul.menubar li button:hover {
    background-color: darkcyan;
    color: white; 
}

ol.submissions {
  list-style-type: none;
}

ol.submissions li {
    float: left;
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1em;
    padding-bottom: 1ex;
}


ol.submissions:after {
  content: '';
  display: block;
  clear: both;
 }


#content {
   padding-top: 3em;
   margin-left: 2em;
   margin-right: 1em;
   width: auto;
}


#actions {
   position: fixed;
   width: auto;
   height: 1.5em;
   left: 0em;
   right: 0em;
   top: 0em;
   bottom: auto;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: cyan;
}

#uppercorner {
    position: fixed;
    top: 20px;
    right: 20px;
    left: auto;
    width: 20em;
    text-align: right;
}


.info {
   color: #0f0f0f;
   font-size: 90%;
   font-style: oblique;
   /* vertical-align: text-top;*/
}

.tag {  
   color: #505050;
   font-size: 90%;
   font-style: oblique;
}


.warnings {
  color: red;
}


.js-timer {
  font-style: oblique;
}


#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 1em;
    clear: both;
    background-color: cyan;
    padding-top: 2ex;
    padding-bottom: 2ex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}


pre {
    background-color: #ffffcc;
    padding: 1em;
    left: 1em;
    right: 1em;
    width: auto;
    overflow-x: auto;
}

/*
.ace_editor {
    width:  45em; 
    height: 45ex; 
    width: 90%;
    height: 50%;
    width: auto;
    height: auto;
}
*/


#editor {
    width: auto;
    left: 0px;
    right: 0px;
    height: 50ex;
}


.hidden { display:none; }

.disabled { color: #A0A0A0; }


td.filename {
   font-family: monospace;
   padding-left: 0.5em;
   padding-right: 4em;
 }

td.filetype {
   font-family: monospace;
   padding-left: 2em;
   padding-right: 2em;
 }

td.filemodified {
   padding-left: 2em;
   padding-right: 2em;
 }



table.filelist tr:nth-child(even) {
  background: #eeeeee;
 }

table.filelist tr:nth-child(odd)  {
  background: white;
 }


table.submissions tr:nth-child(2n+2) {
  background: white;
}

table.submissions tr:nth-child(2n+3) {
  background: #eeeeee;
}

table.submissions td.path, td.userid { 
  font-family: monospace;
}

table.submissions td.received { 
  font-size: 80%;
 }

.Accepted {
  color: green; 
  font-weight: bold;
    white-space: nowrap;
} 

.WrongAnswer  { 
  color: red;
    white-space: nowrap;
}


.PresentationError,
.CompileError,
.RuntimeError,
.MiscError,
.MemoryLimitExceeded,
.TimeLimitExceeded  {
    color: black;
    white-space: nowrap;
}

.Evaluating { 
    color: black;
    font-style: oblique;
    white-space: nowrap;
}


/* --- Quiz answers --- */

.fillin {
    padding: 0.5ex;
}

.wrong {
    /* text-decoration: line-through; */
}

.missing {
    border-bottom: 2px dotted;
    padding: 2px; 
}

/* --- Code highlighting --- 
.sourceCode .kw { font-weight: bold; color: blue;  }
.sourceCode .co { color: darkgreen; }
.sourceCode .st { color: darkgreen; }
*/

/* -- Tabbing --- */

/* Style the tab */
.tab {
    right: 0px;
    left: 0px;
    bottom: 2.5em;
    overflow: hidden;
    padding-top: 5px;
    margin-top: 5px;
    width: auto;
    border-bottom: 1px solid black;
    border-right: none;
    border-top: none;
    border-left: none;
}

/* Style the buttons that are used to open the tab content */
button.tablinks {
    background-color: inherit;
    font-size: 100%;
    float: left;
    cursor: pointer;
    padding: 10px 10px;
    /* transition: 0.3s; */
    border: none;
}


/* Create an active/current tablink class */
button.tablinks.active {
    background-color: darkcyan;
    color: white;
    border: none;
}



/* Style the tab content */
.tabcontent {
  display: none;
/*  padding: 6px 12px; */
/*  border: 1px solid #ccc; 
  border-top: none; */
}
